@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;800&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
/* started header section */
.header-top{
    display: flex;
    justify-content: space-between;
    margin: 50px 100px;
}
.title{
    color: #3a3a3a;
    font-size: 1.5rem;
    font-weight: 700;
}
nav ul li{
    list-style: none;
    color: #3a3a3a;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 10px;
}
nav ul, nav{
    display: flex;
    gap: 30px;
}
.icon{
    width: 17px;
    height: 17px;
    margin-top: 31px;
}
.main-header{
    display: flex;
    gap: 130px;
    align-items: center;
    margin-left: 100px;
}
.text-title{
    color: #3a3a3a;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0;
}
.text-description{
    color: #3a3a3a;
    font-size: .85rem;
    font-weight: 600;
}
.btn{
    color: white;
    background-color: #e02c6d;
    display: inline-flex;
    gap: 10px;
    font-size: .85rem;
    font-weight: 700;
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
}
.svg{
    margin-top: 3px;
}
.header-img{
    background-image: url('../images/Circle\ design.svg');
    margin-top: 20px;
}
.left-img{
    width: 400px;
    height: 400px;
    margin-top: 20px;
}
.sponsor{
    display: flex;
    justify-content: space-evenly;
    margin: 150px 100px;
}
/* end header section */


/* main section */

.main-title{
    color: #3a3a3a;
    font-size: 1.75rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 30px 120px;
}
.card-contain{
    width: 300px;
    height: 420px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.card-img{
    width: 290px;
    height: 240px;
    border-radius: 5px;
    padding: 5px;
}
.card-title{
    color: #18191f;
    font-size: 1.5rem;
    font-weight: 500px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px;
}
.price{
    color: rgba(0, 0, 0, 0.87);
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0;
    padding: 5px;
}
.card-description{
    color: #787885;
    font-family: 'Inter', sans-serif;
    font-size: .75rem;
    font-weight: 700 ;
    padding: 5px;
}
.see{
    text-decoration: none;
    color: #e02c6d;
    font-size: .85rem;
    font-weight: 700;
    
}
main{
    position: relative;
}
.see-more{
    position: absolute;
    right: 150px;
    bottom: 360px;
    
}
.more{
    margin-left: 5px;
}
.feature{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 100px;
}
.feature-title{
    color: #0a0826;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 15px;
}
.feature-description{
    color: #6c6c6c;
    font-size: .85rem;
    font-weight: 700;
}
.feature-text .btn{
    border-radius: 5px;
}




@media screen and (max-width:576px) {
    .header-top{
        flex-direction: column;
        margin: 20px 30px;
    }
    .title{
        margin: auto;
    }
    nav{
        display: flex;
        justify-content: center;
    }
    nav ul, nav{
        gap: 10px;
    }
    .main-header{
        margin-left: 0;
        flex-direction: column-reverse;
        gap: 50px;
    }
    .header-img{
        background-size: cover;
    }
    .left-img{
        width: 200px;
        height: 200px;
    }
    .text-title{
        font-size: 2rem;
    }
    .text-description, .btn{
        font-size: .5rem;
    }
    .sponsor{
        flex-wrap: wrap;
        gap: 30px;
        margin: 80px 30px;
    }
    .cards{
        grid-template-columns: 1fr;
    }
    .see-more{
        right: 70px;
        bottom: 520px;
        
    }
    .feature{
        flex-direction: column-reverse;
        justify-content: center;
        margin-top: 80px;
        margin-bottom: 50px;
    }
    .feature-title{
        font-size: 1.5rem;
        text-align: center;
    }
    .feature-description{
        font-size: .5rem;
        text-align: center;
    }
    .feature-text .btn{
        margin: 30px 170px 30px;
    }
    
}